<div class="my-footer">

  <div class="row no-gutters">

    <div class="col-6">

      <div class="row no-gutters">

        <div class="col-12">
          <img src="../../../assets/footer/social-icons.png" width="200px" style="margin-left:150px; margin-top: 20px">
        </div>

        <div class="col-12" style="margin-top: 10px">
          <span class="copyright" style="margin-bottom: 40px; margin-left: 150px"> 2018 Rapsodo Pte Ltd. All Rights Reserved</span>

        </div>

      </div>


    </div>

    <div class="col-6">
      <img src="../../../assets/footer/footer-logo.png" width="200px" style="float: right; margin-top: 30px; margin-right: 150px;" >
    </div>

  </div>

</div>

