<div class="jumbotron header">
  <div class="row">
    <div class="col-4">
      <img src="../../../assets/header/Logo@2x.png" width="300">
    </div>
    <div class="col-6">

      <div class="dropdown d-inline-block">
        <button class="btn dropdown-toggle my-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">COACH</a>
          <a class="dropdown-item" href="#">GROUP</a>
          <a class="dropdown-item" href="#">SPORT
            <ul>
              <li style="color: red">Baseball</li>
              <li>Softball</li>
            </ul>
          </a>
        </div>
      </div>

      <div class="dropdown d-inline-block" style="margin-left: -55px">
        <button class="btn dropdown-toggle my-dropdown2" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">COACH</a>
          <a class="dropdown-item" href="#">GROUP</a>
          <a class="dropdown-item" href="#">SPORT</a>
        </div>
      </div>
    </div>
    <div class="col-2">
      <img src="../../../assets/header/settings.png" width="70">
      <img src="../../../assets/header/profile.png" width="70">
    </div>
  </div>

  <h1 style="color: #fff; margin-top: 10vh; font-family: 'Orbitron', sans-serif; font-weight: bold; font-size: 40px" class="text-center">LOREM IPSUM</h1>
</div>
